.advisors.container
  .advisor.panel.panel-default
    .panel-heading Find drugs and doctors
    .panel-body
      %p
        Please enter age, symptoms and allergies(optional) to find drugs and doctors
      %form.form-horizontal
        .form-group
          %label.col-sm-2.control-label.required Age
          .col-sm-10
            %input.age.form-control(placeholder='Your age' type='text')/
        .form-group
          %label.col-sm-2.control-label.required Symptoms
          .col-sm-10
            %select.symptoms(multiple)
              - @symptoms.each do |symptom|
                %option{name: symptom.name, value: symptom.name}= symptom.name
        .form-group
          %label.col-sm-2.control-label Allergies
          .col-sm-10
            %select.allergies(multiple)
              - @allergies.each do |allergy|
                %option{name: allergy.name, value: allergy.name}= allergy.name
      %hr
      .suggestion
        .col-sm-6
          Drugs
          %ul.drugs.list-group

        .col-sm-6
          Doctors
          %ul.doctors.list-group
